.wrapper__chat-main__message__messages{"data-message-id": "#{message.id}"}
  .wrapper__chat-main__message__messages__upper-info
    %li.wrapper__chat-main__message__messages__upper-info__talker
      = message.user.name
    %li.wrapper__chat-main__message__messages__upper-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .wrapper__chat-main__message__messages__text
    = message.content 
  - if message.image.present?
    =  image_tag message.image.url, class: 'messages__image'