
.flash-box
.wrapper
  = render 'shared/side_bar'
  .wrapper__chat-main
    .wrapper__chat-main__main-header
      .wrapper__chat-main__main-header__edit-btn
        = link_to "Edit",edit_group_path(@group.id)
      .wrapper__chat-main__main-header__left-box
        %h2.wrapper__chat-main__main-header__left-box__current-group
          = @group.name
        %ul.wrapper__chat-main__main-header__left-box__member-list
          Member :
          %ul.wrapper__chat-main__main-header__left-box__member-list__member
          - @group.users.each do |group_user|
            = group_user.name
    .wrapper__chat-main__message
      - @messages.each do |message|
        = render partial: "message", locals: {message: message}
  .wrapper__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'wrapper__form__message', placeholder: 'type a message'
      .wrapper__form__messagemask
        = f.label :image, class: 'wrapper__form__messagemask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'wrapper__form__submit'